<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style1.css">
</head>
<body>
    <h1 style="color: black;"><strong> <br> Talk to a mental health professional if your depression score is 80% or more!  </strong> <br> <br> <span style="color: #393E46; font-size: 20px;">Start when you're ready. <br> </span> <br> </h1>
    <div class="quiz-container">
        <div id="quiz"></div>
    </div>
    <button id="previous">Previous Question</button>
    <button id="next">Next Question</button>
    <button id="submit">Submit Quiz</button>
    <div id="results">

    </div>






    <script type="text/javascript">
    let numCorrect = 0;
        (function(){
    // Functions
    function buildQuiz(){
      // variable to store the HTML output
      const output = [];
  
      // for each question...
      myQuestions.forEach(
        (currentQuestion, questionNumber) => {
  
          // variable to store the list of possible answers
          const answers = [];
  
          // and for each available answer...
          for(letter in currentQuestion.answers){
  
            // ...add an HTML radio button
            answers.push(
              `<label>
                <input type="radio" name="question${questionNumber}" value="${letter}">
                ${letter} :
                ${currentQuestion.answers[letter]}
              </label>`
            );
          }
  
          // add this question and its answers to the output
          output.push(
            `<div class="slide">
              <div class="question"> ${currentQuestion.question} </div>
              <div class="answers"> ${answers.join("")} </div>
            </div>`
          );
        }
      );
  
      // finally combine our output list into one string of HTML and put it on the page
      quizContainer.innerHTML = output.join('');
    }
  
    function showResults(){
  
      // gather answer containers from our quiz
      const answerContainers = quizContainer.querySelectorAll('.answers');
  
      // keep track of user's answers
      
  
      // for each question...
      myQuestions.forEach( (currentQuestion, questionNumber) => {
  
        // find selected answer
        const answerContainer = answerContainers[questionNumber];
        const selector = `input[name=question${questionNumber}]:checked`;
        const userAnswer = (answerContainer.querySelector(selector) || {}).value;
  
        // if answer is correct
        if(userAnswer === currentQuestion.correctAnswer){
          // add to the number of correct answers
          numCorrect++;
  
          // color the answers green
        //   answerContainers[questionNumber].style.color = 'lightgreen';
        }
        // if answer is wrong or blank
        // else{
        //   // color the answers red
        //   answerContainers[questionNumber].style.color = 'red';
        // }
      });
  
      // show number of correct answers out of total
      
      resultsContainer.innerHTML = `Your depression score is ${numCorrect*10} %. By reaching a therapist, you would be able to learn ways to reduce your symptoms.`;
      resultsContainer.style.color= "#ff0000";
    
    }
  
    function showSlide(n) {
      slides[currentSlide].classList.remove('active-slide');
      slides[n].classList.add('active-slide');
      currentSlide = n;
      if(currentSlide === 0){
        previousButton.style.display = 'none';
      }
      else{
        previousButton.style.display = 'inline-block';
      }
      if(currentSlide === slides.length-1){
        nextButton.style.display = 'none';
        submitButton.style.display = 'inline-block';
      }
      else{
        nextButton.style.display = 'inline-block';
        submitButton.style.display = 'none';
      }
    }
  
    function showNextSlide() {
      showSlide(currentSlide + 1);
    }
  
    function showPreviousSlide() {
      showSlide(currentSlide - 1);
    }
  
    // Variables
    const quizContainer = document.getElementById('quiz');
    const resultsContainer = document.getElementById('results');
    const submitButton = document.getElementById('submit');
    const myQuestions = [
      {
        question: "Less interested in doing things that once made you happy? ",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been feeling irritated, hopeless, low or depressed?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been sleeping too little or too much?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been feeling lethargic or tired?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been eating too little or too much?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been feeling like you are a failure or a burden for family?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been facing trouble in concentrating on things like watching television?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been getting thoughts of hurting or giving pain to yourself?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been feeling difficult to work with people at school, college or office?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      },
      {
        question: "How often have you been unable to stop crying or worrying over things of little importance?",
        answers: {
          a: "Never",
          b: "Seldom",
          c: "Almost Everyday"
        },
        correctAnswer: "c"
      }
    ];
  
    // Kick things off
    buildQuiz();
  
    // Pagination
    const previousButton = document.getElementById("previous");
    const nextButton = document.getElementById("next");
    const slides = document.querySelectorAll(".slide");
    let currentSlide = 0;
  
    // Show the first slide
    showSlide(currentSlide);
  
    // Event listeners
    submitButton.addEventListener('click', showResults);
    previousButton.addEventListener("click", showPreviousSlide);
    nextButton.addEventListener("click", showNextSlide);
  })();

  
  if(numCorrect>=8){
      alert("If you are suicidal, please don't take this condition lightly. We highly insist you reach to an elder and see a therapist.");
  }
  
    </script>
</body>
</html>